
<h2>Raid Logs</h2>
<h3>Letztes Update: 19.06.2017</h3>
<ul class="nav nav-tabs">
    @* Wing 1 *@
    <li><a href="http://webapps.niklas-grieger.de/Gw2Apps/ArcDps/tem_vg.html" target="_blank">Tal Wächter</a></li>
    <li><a href="http://webapps.niklas-grieger.de/Gw2Apps/ArcDps/tem_gorse.html" target="_blank">Gorseval</a></li>
    <li><a href="http://webapps.niklas-grieger.de/Gw2Apps/ArcDps/tem_sab.html" target="_blank">Sabetha</a></li>
    @* Wing 2 *@
    <li><a href="http://webapps.niklas-grieger.de/Gw2Apps/ArcDps/tem_sloth.html" target="_blank">Faultier</a></li>
    @*<li><a href="http://webapps.niklas-grieger.de/Gw2Apps/ArcDps/tem_sab.html" target="_blank">Sabetha</a></li>*@

    <li><a href="http://webapps.niklas-grieger.de/Gw2Apps/ArcDps/tem_cairn.html" target="_blank">Cairn</a></li>
    <li><a href="http://webapps.niklas-grieger.de/Gw2Apps/ArcDps/tem_mo.html" target="_blank">Mursaat</a></li>
    <li><a href="http://webapps.niklas-grieger.de/Gw2Apps/ArcDps/tem_sam.html" target="_blank">Samarog</a></li>
    @*<li><a href="#" onclick="openLog('gorse')">Tal Wächter</a></li>*@
</ul>
<div id="logResult"></div>

@*<script>
    function openLog(boss) {
        var url = '@Url.Action("DisplayLogResult", "RaidLogs")';
        $("#logResult").load(url, { bossname: boss });
    }
</script>*@
