@{
    ViewBag.Title = "_createEvent";
}
<link href="~/Scripts/custom/createWindow.css" rel="stylesheet" />
@*<span class="fielderror"><i class="fa_icon icon-minus-sign"></i>numeric input required</span><span class="datatype"><i class="fa_icon icon-info-sign"></i>numeric (number of seconds)</span> <span class="charcount"><i class="fa_icon icon-info-sign"></i>min. 0 - max. 180</span>*@
<div id="createEvent" ng-app="addEvent" class="modal" ng-controller="AddEventController as eventCtrl">
    <!-- Modal content -->
    <div class="modal-content">

        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Event hinzufügen</h2>
        </div>
        <div class="modal-body">
            <form name="eventForm" style="width:100%;" novalidate>
                <fieldset class="form-group">
                    <div class="col-md-3">
                        <label>Wähle einen Typ</label>
                        
                        <select class="form-control" ng-model="event.typ" ng-options="item.Bezeichnung for item in eventart track by item.Eventart_Id" required>
                        </select>
                    </div>
                    <div class="col-md-2" ng-show="event.typ.Bezeichnung=='Raid'">
                        <label>Bezeichnung:</label>
                        <select ng-model="event.title" ng-options="item.Bezeichnung for item in raids track by item.Bezeichnung" class='form-control'>
                        </select>
                    </div>
                    <div class="col-md-2" ng-show="event.typ.Bezeichnung=='Fraktale'">
                        <label>Bezeichnung:</label>
                        <input type='text' ng-model='event.title' class='form-control' placeholder='Hier Titel eingeben...' title='Titel' required />
                        @*<p ng-show="event.title.$invalid" class="help-block">Bezeichung ist ein Pflichfeld</p>*@
                    </div>
                    <div class="col-md-2" ng-show="event.typ.Bezeichnung=='Sonstiges'">
                        <label>Bezeichnung:</label>
                        <input type='text' ng-model='event.title' class='form-control' placeholder='Hier Titel eingeben...' title='Titel' required />
                    </div>
                    <div class="col-md-2">
                        <label>Von:</label>
                        <input type="text" ng-model="event.von" id="cvon" class="timepicker form-control" style="width:6.5em" required />
                    </div>
                    <div class="col-md-2">
                        <label>Bis:</label>
                        <input type="text" ng-model="event.bis" id="cbis" class="timepicker form-control" style="width:6.5em" required />
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            {{event}}
                            <tbody>
                                <tr ng-repeat="item in classes track by $index">
                                        <td>
                                            <label>{{item.Bezeichnung}}</label>
                                            <input ng-model="event.class[item.Klasse_Id].MaxTeilnehmer" type="number" class="form-control bfh-number" min="0" max="10" value="0" />
                                        </td>
                                </tr>
                                <!--@* Basics *@
                                <tr>
                                    <th>Basics</th>
                                    <td ng-repeat="item in basics">
                                        <label>{{item.Bezeichnung}}</label>
                                        <input type="number" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                </tr>
                                @* Bersis *@
                                <tr>
                                    <th>Bersis</th>
                                    <td ng-repeat="item in bersis">
                                        <label>{{item.Bezeichnung}}</label>
                                        <input type="number" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                </tr>
                                @* Condis *@
                                <tr >
                                    <th>Condis</th>
                                    <td ng-repeat="item in condis">
                                        <label>{{item.Bezeichnung}}</label>
                                        <input type="number" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                </tr>-->

                                <!--<tr>

                                    @* Basic *@
                                    <td>
                                        <label>Chrono</label>
                                        <input type="number" ng-model="event.character.chrono.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                    @* Bersi DPS *@
                                    <td>
                                        <label>Rev</label>
                                        <input type="number" ng-model="event.character.revenant.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                    @* Condi DPS *@
                                    <td>
                                        <label>Ingi</label>
                                        <input type="number" ng-model="event.character.ingeneur.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                </tr>
                                <tr>
                                    @* Basic *@
                                    <td>
                                        <label>Druid</label>
                                        <input type="number" ng-model="event.character.druid.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                    @* Bersi DPS *@
                                    <td>
                                        <label>Tempest</label>
                                        <input type="number" ng-model="event.character.tempest.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                    @* Condi DPS *@
                                    <td>
                                        <label>Necro</label>
                                        <input type="number" ng-model="event.character.necro.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                </tr>
                                <tr>
                                    @* Basic *@
                                    <td>
                                        <label>C-Druid</label>
                                        <input type="number" ng-model="event.character.condi_druid.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                    @* Bersi DPS *@
                                    <td>
                                        <label>Dieb</label>
                                        <input type="number" ng-model="event.character.thief.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                    @* Condi DPS *@
                                    <td>
                                        <label>C-Ranger</label>
                                        <input type="number" ng-model="event.character.condi_ranger.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                </tr>
                                <tr>
                                    @* Basic *@
                                    <td>
                                        <label>PS</label>
                                        <input type="number" ng-model="event.character.warrior.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                    @* Bersi DPS *@
                                    <td>
                                        <label>Guard</label>
                                        <input type="number" ng-model="event.character.guard.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                    @* Platzhalter *@
                                    <td></td>
                                </tr>
                                <tr>
                                    @* Basic *@
                                    <td>
                                        <label>C-PS</label>
                                        <input type="number" ng-model="event.character.condi_warrior.count" class="form-control bfh-number" min="0" max="10" value="0" />
                                    </td>
                                    @* Platzhalter *@
                                    <td></td>
                                    <td></td>
                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                    @* Geht nicht *@
                    <p ng-show="{{sum(event.character.condi_ranger.count+event.character.druid.count+event.character.condi_druid.count
                                +event.character.warrior.count+event.character.revenant.count+event.character.tempest.count
                                +event.character.thief.count+event.character.guard.count+event.character.ingeneur.count
                                +event.character.necro.count+event.character.condi_warrior.count+event.character.condi_ranger.count)>10}}">Es können nur 10 Leute in den Raid</p>
                </fieldset>
                <fieldset class="form-group">
                    <input type="button" ng-click="reset()" class="btn btn-primary pull-right" value="Zurücksetzen" id="reset" />
                    <input ng-click="update(event)" class="btn btn-primary pull-right" ng-disabled="eventForm.$invalid" value="Speichern" />
                </fieldset>
            </form>
        </div>
        @*<div class="modal-footer">
                <p>form = {{event}}</p>
                <p>master = {{master}}</p>
                <h3>Modal Footer</h3>
            </div>*@
    </div>

</div>
<script>

    var eventApp = angular.module('addEvent', []);
    eventApp.controller('AddEventController', ['$scope', '$http', function ($scope, $http) {
        console.log("im AddEventController controller");
        $http({
            method: 'GET',
            url: '@Url.Content("~/Gw2RaidCalender/GetAllRaids")'
        }).then(function successCallback(result) {
            $scope.raids = result.data;
        }, function errorCallback(result) {
        });
        $http({
            method: 'GET',
            url: '@Url.Content("~/Gw2RaidCalender/GetAllEventart")'
        }).then(function successCallback(result) {
            $scope.eventart = result.data;
        }, function errorCallback(result) {
        });
        $http({
            method: 'GET',
            url: '@Url.Content("~/Gw2RaidCalender/GetAllClassesWithTyp")'
        }).then(function successCallback(result) {
            console.log(result.data);
            var bersis = [];
            var basics = [];
            var condis = [];
            $.each(result.data, function (index, value) {
                if(value.Klassenart === "Basic")
                {
                    basics.push(value);
                }
                else if (value.Klassenart === "Condi") {
                    condis.push(value);
                }
                else if (value.Klassenart === "Bersi") {
                    bersis.push(value);
                }
            });
            console.log("condis:");
            console.log(condis);
            $scope.condis = condis;
            console.log("basics:");
            console.log(basics);
            $scope.basics = basics;
            console.log("bersis:");
            console.log(bersis);
            $scope.bersis = bersis;
            $scope.classes = result.data;
            //console.log($scope.classes[1].Klasse_Id);
            
        }, function errorCallback(result) {
        });
        
        
        $scope.addClass = function () {

        }
        $scope.update = function (event) {
            //$scope.event.class.push($scope.classes[1].Klasse_Id);
            //console.log(event.class);
            if ($scope.eventForm.$valid) {
                if (event.typ.Bezeichnung == 'Raid') {
                    event.title = event.title.Bezeichnung
                }
                var saveEventObject = { Eventart_Id: event.typ.Eventart_Id, Bezeichnung: event.title, startTag: event_start._i, endeTag: event_ende._i, startUhrzeit: event.von, endeUhrzeit: event.bis };
                //var klassenModel = { event.class };
                //$.each($scope.classes, function (key, value) {
                //    console.log(value);
                //    console.log(event.class)
                //    if (value.Bezeichnung == event.class) {

                //    }
                //});
                var newJson = [];
                //Zusammensetzen des benötigten Json zum speichern der Klassen infos
                $.each(event.class, function (key, value) {
                    console.log(key);
                    console.log(value);

                    newJson.push({ Klasse_Id: parseInt(key), MaxTeilnehmer: value.MaxTeilnehmer });
                });
                console.log("new json:");
                console.log(newJson);
                console.log(saveEventObject);
                console.log("stringified json:");
                console.log(JSON.stringify(newJson));
                $http.post('@Url.Content("~/Gw2RaidCalender/SaveEvent")', {
                    model: saveEventObject,
                    klassenModel: JSON.stringify(newJson)
                }).then(function successCallback(result) {
                    console.log(result.data);
                }),
                    function errorCallback(result) {
                        console.log(result.data);
                    };
                //$('#calendar').fullCalendar('addEventSource', function () {
                //    console.log(" addEventSource calender in angular");
                //    if (event.typ.Bezeichnung == 'Raid') {
                //        event.title = event.title.Bezeichnung
                //    }
                //    //Merged das event object aus der form
                //    //und die parameter start und end aus dem calender
                //    var eventNew = $.extend(true, this.settings, event, { start: event_start, end: event_ende });
                //    console.log(event_start);
                //    console.log(event_ende);
                //    $.each(eventNew.character, function (charItem) {
                //        console.log(charItem);
                //        //Die akutell angemeldeten User
                //        eventNew.character[charItem].people_in = 0;
                //        eventNew.character[charItem].teilnehmer = "";
                //    });


                //    console.log(eventNew);
                //    $('#calendar').fullCalendar('renderEvent', eventNew, true); // stick? = true

                //    $('#calendar').fullCalendar('unselect');
                //    //Close the Window and reset the create form
                //    $("#createEvent").css("display", "none");

            //});
                $scope.event = {};
            }
        };

        $scope.reset = function () {
            //reset all inputs
            $scope.event = {};
        };

        $scope.reset();
    }]);
</script>

