.ng-invalid.ng-touched {
        border-color: #a94442;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    }

    .ng-valid.ng-touched {
        border-color: green;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    }


li{
    margin-bottom: 20px; 
}
.table label{
    width: 80px;
}
.form-control.bfh-number{
    width:auto;display:inline;
}
