
@{
    ViewBag.Title = "_createEvent";
}
<style>
    .ng-invalid{
    border-color:#a94442;
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    }
    .ng-valid{
        border-color: green;
        box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    }
</style>
<div id="createEvent" class="modal" ng-controller="AddEventController as eventCtrl">
<!-- Modal content -->
    <div class="modal-content">

        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <div class="modal-body">
            <form name="eventForm" novalidate>
                <fieldset class="form-group">
                    <div class="col-md-2">
                        <label>Wähle einen Typ</label>
                        <select class="form-control" ng-model="event.typ" required>
                            <option value="raid">Raid</option>
                            <option value="frac">Fraktale</option>
                            <option value="sonst">Sonstiges</option>
                        </select>
                    </div>
                    <div class="col-md-2" ng-show="event.typ=='raid'">
                        <label>Bezeichnung:</label>
                        <select class='form-control' ng-model='event.title'>
                            <option value='geistertal'>Wing 1 - Geistertal</option>
                            <option value='erlösungspass'>Wing 2 - Erlösungspass</option>
                            <option value='festung'>Wing 3 - Festung der Treuen</option>
                            <option value='bastion'>Wing 4 - Bastion der Bußfertigen</option>
                        </select>
                    </div>
                    <div class="col-md-2" ng-show="event.typ=='frac'">
                        <label>Bezeichnung:</label>
                        <input type='text' ng-model='event.title' class='form-control' placeholder='Hier Titel eingeben...' title='Titel' required/>
                        @*<p ng-show="event.title.$invalid" class="help-block">Bezeichung ist ein Pflichfeld</p>*@
                    </div>
                    <div class="col-md-2" ng-show="event.typ=='sonst'">
                        <label>Bezeichnung:</label>
                        <input type='text' ng-model='event.title' class='form-control' placeholder='Hier Titel eingeben...' title='Titel' required/>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-md-2">
                        <label>Von:</label>
                        <input type="text" ng-model="event.von" id="cvon" class="timepicker" required/>
                    </div>
                    <div class="col-md-2">
                        <label>Bis:</label>
                        <input type="text" ng-model="event.bis" id="cbis" class="timepicker" required/>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>character</label>
                    <ul>
                        <li>
                            <label style="width:80px;">Chrono</label>
                            <input type="number" ng-model="event.character.chrono.count" style="width:auto;display:inline;" class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                        <li>
                            <label style="width:80px;">Druid</label>
                            <input type="number" ng-model="event.character.druid.count" style="width:auto;display:inline;" class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                        <li>
                            <label style="width:80px;">C-Druid</label>
                            <input type="number" ng-model="event.character.condi_druid.count" style="width:auto;display:inline;" class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                        <li>
                            <label style="width:80px;">PS</label>
                            <input type="number" ng-model="event.character.warrior.count" style="width:auto;display:inline;" class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                        <li>
                            <label style="width:80px;">Rev</label>
                            <input type="number" ng-model="event.character.revenant.count" style="width:auto;display:inline;" class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                        <li>
                            <label style="width:80px;">Tempest</label>
                            <input type="number" ng-model="event.character.tempest.count" style="width:auto;display:inline;" class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                        <li>
                            <label style="width:80px;">Dieb</label>
                            <input type="number" ng-model="event.character.thief.count" style="width:auto;display:inline;" class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                        <li>
                            <label style="width:80px;">Guard</label>
                            <input type="number" ng-model="event.character.guard.count" style="width:auto;display:inline;" class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                        <li>
                            <label style="width:80px;">Ingi</label>
                            <input type="number" ng-model="event.character.ingeneur.count" style="width:auto;display:inline;" class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                        <li>
                            <label style="width:80px;">Necro</label>
                            <input type="number" ng-model="event.character.necro.count" style="width:auto;display:inline;" class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                        <li>
                            <label style="width:80px;">C-PS</label>
                            <input type="number" ng-model="event.character.condi_warrior.count" style="width:auto;display:inline;" class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                        <li>
                            <label style="width:80px;">C-Ranger</label>
                            <input type="number" ng-model="event.character.condi_ranger.count" style="width:auto;display:inline;"  class="form-control bfh-number" min="0" max="10" value="0" />
                        </li>
                    </ul>
                    @* Geht nicht *@
                    <p ng-show="{{sum(event.character.condi_ranger.count+event.character.druid.count+event.character.condi_druid.count
                                +event.character.warrior.count+event.character.revenant.count+event.character.tempest.count
                                +event.character.thief.count+event.character.guard.count+event.character.ingeneur.count
                                +event.character.necro.count+event.character.condi_warrior.count+event.character.condi_ranger.count)>10}}">Es können nur 10 Leute in den Raid</p>
                </fieldset>
                <fieldset class="form-group">
                    <input type="button" ng-click="reset()" class="btn btn-primary pull-right" value="Zurücksetzen" id="reset"/>
                    <input ng-click="update(event)" class="btn btn-primary pull-right" ng-disabled="eventForm.$invalid" value="Speichern" />
                </fieldset>
            </form>
    </div>
        <div class="modal-footer">
            <p>form = {{event}}</p>
            <p>master = {{master}}</p>
            <h3>Modal Footer</h3>
        </div>
    </div>

</div>
<script>
    var eventApp = angular.module('event', []);
    eventApp.controller('AddEventController', ['$scope', function ($scope) {
        console.log("im AddEventController controller");
        $scope.update = function (event) {
            if ($scope.eventForm.$valid) {
                $('#calendar').fullCalendar('addEventSource', function () {
                    console.log(" addEventSource calender in angular");
                    //Merged das event object aus der form
                    //und die parameter start und end aus dem calender

                    var eventNew = $.extend(true, this.settings, event, { start: event_start, end: event_ende });
                    $.each(eventNew.character, function (charItem) {
                        console.log(charItem);
                        //Die akutell angemeldeten User
                        eventNew.character[charItem].people_in = 0;
                        eventNew.character[charItem].teilnehmer = "";
                    });
                    
                
                    console.log(eventNew);
                    $('#calendar').fullCalendar('renderEvent', eventNew, true); // stick? = true

                    $('#calendar').fullCalendar('unselect');
                    ////Close the Window and reset the create form
                    $("#createEvent").css("display", "none");
                
            });
                $scope.event = {};
            }
        };

        $scope.reset = function () {
            //reset all inputs
            $scope.event = {};
        };

        $scope.reset();
    }]);
</script>


