@{
    ViewBag.Title = "_detailEvent";
}
<link href="~/Scripts/custom/detailWindow.css" rel="stylesheet" />
<div id="detailEvent" class="modal" @*ng-controller="DetailEventController"*@>
    <!-- Modal content -->
    <div class="modal-content">

        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <div class="modal-body" >
            <div class="row col-md-3">
                <div>
                    <label for="typ">Typ:</label>
                    <span name="typ" id="typ"></span>
                </div>
                <div>
                    <label for="name">Bezeichnung:</label>
                    <span name="name" id="name"></span>

                </div>

                <div>
                    <label for="von">Von:</label>
                    <span name="von" id="von"></span>
                </div>
                <div>
                    <label for="bis">Bis:</label>
                    <span name="bis" id="bis"></span>
                </div>
            </div>
            <div id="detail_raidImg"></div>
                

            
        </div>
        <div>
            <div id="detail_raidImg"></div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Klasse</th>
                            <th>(Teilnehmer/Maximal), Teilnehmer</th>
                            <th>Anmelden</th>
                        </tr>
                    </thead>
                    <tbody id="detail_table_body"></tbody>
                </table>
            </div>
        </div>
        @*<div class="modal-footer">
            <h3>Footer</h3>
        </div>*@
    </div>

</div>
<script>
    //eventApp.controller('DetailEventController', ['$scope', function ($scope) {

    //}]);
</script>