@using Microsoft.AspNet.Identity
<h1>Willkommen!</h1>
<p>Wähle im Linken Menü eines der Futures aus...</p>
<label>Aktuelle Futures:</label>
<ul>
    <li>
        RaidPlaner (Anmelden oder Löschen geht nur wenn du angemeldet bist)
    </li>
    <li>
        Event Timer inkl. HoT Events
    </li>
    <li>
        Manage dein Profil:
        <ul>
            <li>
                Lege Charaktere an
            </li>
            <li>
                Zeige deine Raid Bosse an, die du diese Woche bereits gelegt hast (benötigt API Schlüssel. Findest du unter deinem Gw2 Account: https://account.arena.net/applications)
            </li>
        </ul>
    </li>
</ul>