
@{
    ViewBag.Title = "_createEvent";
}

<div id="createEvent" class="modal">
<!-- Modal content -->
    <div class="modal-content">

        <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Modal Header</h2>
        </div>
        <div class="modal-body">
            <form name="eventForm" method="post" novalidate>
                <fieldset class="form-group">
                    <label for="name">Bezeichnung:</label>
                    <input name="name" class="form-control" placeholder="Hier Titel eingeben..." title="Titel" id="cname" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="von">Von:</label>
                    <input name="von" id="cvon" class="timepicker"/>
                </fieldset>
                <fieldset class="form-group">
                    <label for="bis">Bis:</label>
                    <input name="bis" id="cbis" class="timepicker" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="character">Character</label>
                    <ul>
                        <li>Tempest: <input type="number" class="form-control bfh-number" min="0" max="10"/></li>
                        <li>PS: <input type="number" class="form-control bfh-number" min="0" max="10" /></li>
                    </ul>
                </fieldset>
                <fieldset class="form-group">
                    <input class="btn btn-primary pull-right" value="Submit Review"/>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>

</div>


