
@{
    ViewBag.Title = "_detailEvent";
}
<div id="detailEvent" class="modal">
    <!-- Modal content -->
    <div class="modal-content">

        <div class="modal-header">
            
            <span class="close">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-2">
                    <label for="name">Bezeichnung:</label>
                    <span name="name" id="name"></span>
                    <div id="detail_raidImg"></div>
                </div>
                <div class="col-md-2">
                    <label for="von">Von:</label>
                    <span name="von" id="von"></span>
                </div>
                <div class="col-md-2">
                    <label for="bis">Bis:</label>
                    <span name="bis" id="bis"></span>
                </div>
                <div class="col-md-2">
                    <label for="character">Character</label>
                    <ul id="character"></ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>
    
</div>

