
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/eventtimer/script.js"></script>
<link href="~/Scripts/eventtimer/style.css" rel="stylesheet" />
<script src="~/Scripts/eventtimer/moment.min.js"></script>


<div id='event-wrapper' class='event-wrapper'>
    <div class='event-limit'><span class='event-limit-text'>Nächste</span></div>
    <div class='event-pointer'><span class='event-pointer-time'>00:00 UTC</span></div>
    <div style='height:10px; width:100%;'></div>
</div>
